### 1000. A+B

In [1]:
A,B=input().split()
print(int(A)+int(B))

3

In [3]:
# map 함수
A,B=map(int,input().split())
print(A+B)

3

### 1001. A-B

In [2]:
A,B=input().split()
print(int(A)-int(B))

1

In [3]:
# map 함수
A,B=map(int,input().split())
print(A-B)

1

### 1008. A/B

In [8]:
A,B=input().split()
print(int(A)/int(B))

0.8

In [7]:
# map 함수
A,B=map(int,input().split())
print(A/B)

0.8

### 1330. 두 수 비교하기

In [11]:
A,B=input().split()
A=int(A)
B=int(B)

if A>B:
    print('>')
elif A<B:
    print('<')
else:
    print('==')

<

In [13]:
# map 함수
A,B=map(int,input().split())

if A>B:
    print('>')
elif A<B:
    print('<')
else:
    print('==')

<

### 2438. 별 찍기 - 1

In [14]:
N=int(input())
for i in range(N):
    print('*'*(i+1))

*
**
***
****
*****

### 2475. 검증수

In [23]:
nums=list(map(int,input().split()))
print(sum([n**2 for n in nums])%10)

1

### 2557. Hello World

In [24]:
print('Hello World!')

Hello World!

### 2739. 구구단

In [26]:
N=int(input())
for i in range(1,10):
    print(f'{N} * {i} = {N*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 2741. N찍기

In [27]:
N=int(input())
for i in range(N):
    print(i+1)

1
2
3
4
5

In [28]:
# 더느리다
N=int(input())
for i in range(1,N+1):
    print(i)

1
2
3
4
5

### 2753. 윤년

In [36]:
year=int(input())

cond1=year%4==0
cond2=year%100!=0
cond3=year%400==0

print(int(cond1 & (cond2 | cond3)))

1

### 9498. 시험 성적

In [37]:
score=int(input())
if score>=90:
    print('A')
elif score>=80:
    print('B')
elif score>=70:
    print('C')
elif score>=60:
    print('D')
else:
    print('F')

A

### 10171. 고양이

In [43]:
print("\    /\\\n )  ( ')\n(  /  )\n \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

### 10172. 개

In [48]:
print('|\\_/|\n|q p|   /}\n( 0 )"""\\\n|"^"`    |\n||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

### 10869. 사칙연산

In [50]:
A,B=map(int,input().split())
print(f'{A+B}\n{A-B}\n{A*B}\n{A//B}\n{A%B}')

10
4
21
2
1

### 10871. X보다 작은수

In [53]:
N,X=map(int,input().split())
nums=list(map(int, input().split()))
print(' '.join([str(n) for n in nums if n<X]))

1 4 2 3

### 10950. A+B-3

In [56]:
T=int(input())
for _ in range(T):
    A,B=input().split()
    print(int(A)+int(B))

2
5
17
7
7

### 10951. A+B-4

In [1]:
while True:
    try:
        A,B=map(int,input().split())
        print(A+B)
    except:
        break

2
4

In [4]:
while True:
    nums=[int(n) for n in input().split()]
    if len(nums)==2: print(sum(nums))
    else: break

2
4
6
4

### 10952. A+B-5

In [9]:
while True:
    A,B=map(int,input().split())
    if A or B:print(A+B)
    else:break

2
5
7
17

### 11654. 아스키 코드

In [12]:
print(ord(input()))

48

### 25083. 새싹

In [14]:
print('''         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |''')

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

### 27866. 문자와 문자열

In [19]:
S=input()
i=int(input())
print(S[i-1])

r

### 2439. 별 찍기 -2

In [48]:
N=int(input())
for line in range(1,N+1):
    print(' '*(N-line)+'*'*line)

    *
   **
  ***
 ****
*****

### 11720. 숫자의 합

In [43]:
N=int(input())
print(sum(map(int,list(input()))))

15

### 2562. 최댓값

In [37]:
# 44 ms
nums=[int(input())for _ in range(9)]
print(max(nums))
print(nums.index(max(nums))+1)

85
8

In [39]:
# 40ms
nums=[int(input())for _ in range(9)]
M=nums[0]
loc=0
for idx,n in enumerate(nums):
    if n>M: 
        M=n
        loc=idx
print(M)
print(loc+1)

85
8

### 2884. 알람 시계

In [33]:
H,M=map(int,input().split())

if M<45:
    H-=1
    if H<0: H+=24
    M+=60
    
print(H,M-45)

23 45

### 10250. ACM 호텔

In [11]:
T=int(input())

for _ in range(T):
    H, W, N= map(int,input().split())
    floor=(N%H)*(N%H!=0) + H*(N%H==0)
    room=(N//H+1)*(N%H!=0) + (N//H)*(N%H==0)
    print(str(floor)+str(room).zfill(2))

601

In [ ]:
T=int(input())

for _ in range(T):
    H, W, N= map(int,input().split())
    floor=N%H
    room=N//H+1
    if floor==0: 
        floor=H
        room-=1
    print(str(floor)+str(room).zfill(2))

### 10818. 최소, 최대

In [20]:
# 932ms
N=int(input())
nums=list(map(int,input().split()))
print(sorted(nums)[0],sorted(nums)[N-1])

7 35

In [22]:
# 376ms
N=int(input())
nums=list(map(int,input().split()))
print(min(nums),max(nums))

7 35

In [25]:
# 424ms
N=int(input())
nums=[int(n) for n in input().split()]
print(min(nums),max(nums))

7 35

In [31]:
# 428ms
N=int(input())
nums=list(map(int,input().split()))

M=m=nums[0]
for n in nums:
    if n>M: M=n
    if n<m: m=n

print(m,M)

7 35

### 1152. 단어의 개수

In [75]:
print(len(input().split()))

6

### 2577. 숫자의 개수

In [73]:
prod=1
for _ in range(3):
    prod*=int(input())

for i in range(10):
    print(str(prod).count(str(i)))

3
1
0
2
0
0
0
2
0
0

### 2675. 문자열 반복

In [68]:
T=int(input())
test_case=[input() for _ in range(T)]

for test in test_case:
    R,S=test.split()
    for s in S:
        print(s*int(R),end='')
    print()

aaabbbccc
hhttttpp

### 2920. 음계

In [33]:
ipt=input()
if ipt=='1 2 3 4 5 6 7 8':
    print('ascending')
elif ipt=='8 7 6 5 4 3 2 1':
    print('descending')
else:
    print('mixed')

ascending

In [42]:
ipt=input().split()
if ipt==sorted(ipt):
    print('ascending')
elif ipt==sorted([ipt],reverse=True):
    print('descending')
else:
    print('mixed')

ascending

### 3052. 나머지

In [26]:
nums=[int(input()) for _ in range(10)]
print(len({n%42 for n in nums}))

### 8958. OX퀴즈

In [25]:
num=int(input())
ipt=[input() for _ in range(num)]
print('\n'.join([str(sum([sum(range(1,len(o)+1)) for o in result.split('X')])) for result in ipt]))

21
0
5
9
10

### 10809. 알파벳 찾기

In [49]:
S=input()
lst=list(map(ord,list(S)))
print(' '.join([str(lst.index(alphabet)) if alphabet in lst else '-1' for alphabet in range(97,123)]))

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [48]:
S=input()
#lst=list(map(ord,list(S)))
print(' '.join([str(list(map(ord,list(S))).index(alphabet)) if alphabet in list(map(ord,list(S))) else '-1' for alphabet in range(97,123)]))

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

### 1157. 단어공부

In [53]:
word=input().upper()
char_set=list(set(word))

count_list=[word.count(c) for c in char_set]
freq=max(count_list)

result=[index for index,count in enumerate(count_list) if count==freq]

if len(result)!=1:
    print('?')
else:
    print(char_set[result[0]])

Z